---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="post-title">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if paginator.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    {%- if paginator.page_trail -%}
    <div class="trail">
      <nav class="trail">
        <ul>
        {%- if page.pagination_info.curr_page > 1 -%}
          <li><a href="/weblog/" title="First page">&laquo;</a></li>
        {%- else -%}
          <li>&middot;</li>
        {%- endif -%}
        {%- for trail in paginator.page_trail -%}
          {%- if page.url == trail.path -%}
          <li>{{ trail.num }}</li>
          {%- else -%}
          <li><a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a></li>
          {%- endif -%}
        {%- endfor -%}
        {%- if page.pagination_info.curr_page < page.pagination_info.total_pages -%}
          <li><a href="/weblog/page/{{ page.pagination_info.total_pages }}/" title="Last page">&raquo;</a></li>
        {%- else -%}
          <li>&middot;</li>
        {%- endif -%}
        </ul>
      </nav>
    </div>
    {%- endif -%}

  {%- endif -%}

</div>
